.modal-head_error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.error-icon {
    margin-left: auto;
    margin-right: 2rem;
}

#exclamation {
    color: #F44336;
}

.modal-content_error {
    margin: auto;
}

#modal-buttons_error {
    margin-bottom: 3rem;
}

#modal-buttons_error #btn-reintentar:hover {
    color: #eee;
    font-weight: lighter;
}