.modal-head_exito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7DBDD;
}

.success-icon {
    margin-left: auto;
    margin-right: 2rem;
}

#check {
    color: #2ECC71;
    color: #0aaca1;
}

.modal-content_exito {
    margin: auto;
}

#modal-buttons_exito {
    margin-bottom: 3rem;
}

#modal-buttons_exito #btn-aceptar:hover {
    color: #eee;
    font-weight: lighter;
}