.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container__graficos {
    height: 100%;
    padding: 2rem;
    flex: 1;
}

.container__info {
    height: 100%;
    padding: 2rem;
    flex: 1;
}